#indexAlign {
    display:flex;
    flex-direction: column;
}

.indexTile {
    background-color: rgb(200, 200, 244);
    padding:10px;
}

.hero-container {
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.hero-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

#actionTile {
    display: flex;
    flex-direction: column;
}

#joinButton {
    align-self: center;
}